<app-navbar></app-navbar>
<app-hero [hidden]="hideElement"></app-hero>
<div class="container">
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color:whitesmoke">Cargando...</p>
  </ngx-spinner>
  <router-outlet></router-outlet>
</div>