<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form #formRegister="ngForm" (ngSubmit)="onRegister(formRegister)">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  {{msgError}}
                </div>
                <div class="form-group">
                  <input type="text" #name="ngModel" name="name" class="form-control" placeholder="Name"
                    [(ngModel)]="user.name" required minlength="4" maxlength="15">
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="name.touched && !name.valid">
                  <div *ngIf="name.errors.required">Name is required</div>
                  <div *ngIf="name.errors.minlength">Name must be at least 4 characters</div>
                </div>
                <div class="form-group">
                  <input type="email" #email="ngModel" name="email" class="form-control" placeholder="Email"
                    [(ngModel)]="user.email" required minlength="8">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.minlength">Email must be at least 8 characters</div>
                </div>
                <div class="form-group">
                  <input type="password" #password="ngModel" name="password" class="form-control" placeholder="Password"
                    [(ngModel)]="user.password" required minlength="5" maxlength="10">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">Password must be at least 5 characters</div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                <div class="form-group">
                  <a routerLink="/user/login" class="form-control login-user">Do you have account?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>